* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0px;
}
body {
  background-color: rgb(20, 20, 20);
}

.container {
  box-sizing: border-box;
  overflow: hidden;
  margin: 40px auto;
  width: 400px;
  border: 0.1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}
.pl-header {
  width: 100%;
  padding: 5px 18px;
  background-color: rgba(33, 33, 33, 0.98);
}
.pl-header-top {
  display: flex;
  position: relative;
  background-color: inherit;
  width: 100%;
  height: 55px;
  align-items: center;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.header-content p {
  font-size: 13px;
}
.expand-btn {
  position: absolute;
  color: white;
  font-size: 20px;
  right: 0px;
}
.btn {
  cursor: pointer;
}
.pl-header-bottom {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 10px;
}
.pl-header-bottom .pl-control-btn + .pl-control-btn {
  margin-left: 15px;
}
.pl-control-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: darkGray;
}
.add-play-list {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  right: 0;
}
.pl-list-items {
  height: 350px;
  overflow: hidden;
  overflow-y: scroll;
}
.card {
  position: relative;
  display: flex;
  width: calc(100% - 6);
  height: 65px;
  align-items: center;
  background-color: rgb(20, 20, 20);
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 3px;
  cursor: pointer;
}
.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.card:hover .choice {
  display: block;
}
.num {
  font-size: 13px;
  min-width: 1.2em;
  text-align: center;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 100%;
  align-items: between;
  margin-left: 5px;
}
.title span {
  font-size: 1rem;
  height: 40px;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.author {
  font-size: 13px;
  margin-bottom: 3px;
}
.thumb {
  width: 100px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb img {
  width: 100px;
  height: 100%;
  margin: 0px 5px 0px 5px;
}
.choice {
  display: none;
  position: absolute;
  right: 20px;
  height: 20px;
  width: 5px;
  background-color: #fff;
}
.display-none {
  display: none;
}
